

.kick {
  width: 128px;
  height: 140px;
  background-image: url(../img/css_sprites.png);
  animation: moveX 0.5s steps(4) infinite;
  position: absolute;
  top: 100px;

}

.kickOneL {
  width: 128px;
  height: 140px;
  background-image: url(../img/css_sprites.png);
  animation: moveX 1.3s steps(4) 1;
  position: absolute;
  transform: scaleX(-1);
  margin-left: 700px;
}

.kickLOneS {
  width: 128px;
  height: 140px;
  background-image: url(../img/css_sprites.png);
  animation: moveX 0.7s steps(4) 1;
  position: absolute;
  margin-left: 630px;
}

@keyframes moveX {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: -592px;
  }
}

.deadRight {
  width: 128px;
  height: 140px;
  background-image: url(../img/diesmert.png);
  animation: deadKey 1.5s steps(6) 1;
  position: absolute;
  left: 1px;
  margin-left: 1200px;
  transform: scaleX(-1);
}

.deadLeft {
  width: 128px;
  height: 140px;
  background-image: url(../img/diesmert.png);
  animation: deadKey 1.5s steps(6) 1;
  position: absolute;
  left: 1px;
  margin-left: 0px;

}

@keyframes deadKey {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: -888px;
  }
}

.gansAtackL {
  width: 140px;
  height: 140px;
  background-image: url(../img/gans.png);
  animation: gansKey 1.3s steps(4) infinite;
  position: absolute;
  margin-left: 630px;
  transform: scaleX(-1);
}

.gansAtackR {
  width: 140px;
  height: 140px;
  background-image: url(./img/gans.png);
  animation: gansKey 1.3s steps(4) infinite;
  position: absolute;
  margin-left: 630px;
}

@keyframes gansKey {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: -592px;
  }
}

.runPrRight {
  width: 128px;
  height: 140px;
  background-image: url(../img/begrun.png);
  animation: runAnim 0.5s steps(6) 6, runPrRight 2.1s ease-out;
  position: absolute;
  transform: scaleX(-1)
}

@keyframes runAnim {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: -888px;
  }
}

@keyframes runPrRight {
  from {
    margin-left: 1200px
  }

  to {
    margin-left: 700px;
  }
}

.runPrLeft {
  width: 128px;
  height: 140px;
  margin-left: 1280px;
  background-image: url(../img/begrun.png);
  animation: runAnim 0.5s steps(6) 6, runPrLeft 2.1s ease-out;
  position: absolute;
}

@keyframes runPrLeft {
  0% {
    margin-left: 0px
  }

  100% {
    margin-left: 620px;
  }
}

.backOne {
  width: 128px;
  height: 140px;
  background-image: url(../img/begrun.png);
  animation: runAnim 0.5s steps(6) 6, runBackO 2s forwards;
  position: absolute;
}

@keyframes runBackO {
  from {
    margin-left: 700px
  }

  to {
    margin-left: 1200px;
  }
}

.backTwo {
  width: 128px;
  height: 140px;
  margin-left: 1200px;
  background-image: url(../img/begrun.png);
  animation: runAnim 0.5s steps(6) 6, runBackT 2s forwards;
  position: absolute;
  transform: scaleX(-1);
}

@keyframes runBackT {
  0% {
    margin-left: 620px
  }

  100% {
    margin-left: 0px;
  }
}

.jumpLeft {
  width: 128px;
  height: 148px;
  background-image: url(../img/jump.png);
  animation: jumpTo 1s steps(3) infinite;
  position: absolute;
  transform: scaleX(-1);
  margin-left: 700px;
}

.jumpRiht {
  width: 128px;
  height: 148px;
  background-image: url(../img/jump.png);
  animation: jumpTo 1s steps(3) infinite;
  position: absolute;
  margin-left: 700px;
}

@keyframes jumpTo {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: -444px;
  }
}


.statikOneR {
  width: 128px;
  height: 148px;
  background-image: url(../img/static.png);
  animation: statiS 0.5s steps(3) infinite;
  position: absolute;
  margin-left: 0px;

}

.statikTwoL {
  width: 128px;
  height: 148px;
  background-image: url(../img/static.png);
  animation: statiS 0.5s steps(3) infinite;
  position: absolute;
  transform: scaleX(-1);

}

@keyframes statiS {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: -444px;
  }
}


.blockRight {
  width: 128px;
  height: 148px;
  background-image: url(../img/block.png);
  animation: blok 0.5s steps(3) 0.7s 1;
  position: absolute;
  left: 630px;
}

.blockLeft {
  width: 128px;
  height: 148px;
  background-image: url(../img/block.png);
  animation: blok 0.5s steps(3) 0.7s 1;
  position: absolute;
  left: 630px;
  transform: scaleX(-1);
}

@keyframes blok {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: -444px;
  }
}
